<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zhouwei.md.materialdesignsamples">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".MaterialDesignSimpleApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".bottomsheetdialog.BottomSheetDialogActivity"
            android:theme="@style/MDTheme"
            />
        <activity android:name=".toolbar.ToolbarActivity"
                  android:theme="@style/MDTheme"
            />
        <activity android:name=".toolbar.AppbarLayoutActivity"
                  android:theme="@style/MDTheme"
            />
        <activity android:name=".toolbar.JanshuActivity"
                  android:windowSoftInputMode="stateAlwaysHidden"
                  android:theme="@style/MDTheme"
            />
        <activity android:name=".behavoir.BehaviorSimpleActivity"
                  android:windowSoftInputMode="stateAlwaysHidden"
                  android:theme="@style/MDTheme"
            />
        <activity android:name=".behavoir.CustomBehaviorActivity"
                  android:windowSoftInputMode="stateAlwaysHidden"
                  android:theme="@style/MDTheme"
            />
        <activity android:name=".behavoir.CustomBehaviorActivity2"
                  android:windowSoftInputMode="stateAlwaysHidden"
                  android:theme="@style/MDTheme"
            />
        <activity android:name=".behavoir.FABSimpleActivity"
                  android:windowSoftInputMode="stateAlwaysHidden"
                  android:theme="@style/MDTheme"
            />
        <activity android:name=".behavoir.BottomSheetBehaviorActivity"
                  android:windowSoftInputMode="stateAlwaysHidden"
                  android:theme="@style/MDTheme"
            />
        <activity android:name=".navigation.TabActivity"
                  android:windowSoftInputMode="stateAlwaysHidden"
                  android:theme="@style/MDTheme"
            />
        <activity android:name=".navigation.TabActivity2"
                  android:windowSoftInputMode="stateAlwaysHidden"
                  android:theme="@style/MDTheme"
            />
        <activity android:name=".navigation.BottomNavigationActivity"
                  android:windowSoftInputMode="stateAlwaysHidden"
                  android:theme="@style/MDTheme"
            />
        <activity android:name=".edit.TextInputSimpleActivity"
                  android:windowSoftInputMode="stateAlwaysHidden"
                  android:theme="@style/MDTheme"
            />
        <activity android:name=".cardview.CardViewSimpleActivity"
                  android:windowSoftInputMode="stateAlwaysHidden"
                  android:theme="@style/MDTheme"
            />
    </application>

</manifest>